h2 {
  margin: 20px 20px;
}
form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 100px;
}
h1 {
  text-align: center;
}
form label {
  margin: 5px;
  display: block;
}
form input,
select {
  margin: 0 10px;
}
.formInfo {
  display: flex;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  margin: 50px auto;
  background-color: #ff0;
  width: 250px;
  border-radius: 15px;
  transition: all 0.5s ease-in;
}
.formInfo.show {
  opacity: 1;
}
.formInfo h4 {
  margin: 10px;
}
.segundo-ejercicio h3 {
  text-align: center;
}

.segundo-ejercicio .button {
  display: flex;
  justify-content: center;
}
